@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.wholeMap {
  height: 650px;
  width: 1150px;
  background-color: grey;
  margin: auto;
}

.mines {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#mainHouse1 {
  position: absolute;
  width: 170px;   
  height: 120px;  
  background-color: #669999;  
  top: 50%;       
  left: 28%;  
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(10deg);
}

#mainHouse2 {
  position: absolute;
  width: 170px;   
  height: 120px;  
  background-color: #669999;  
  top: 50%; 
  right: 28%;     
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-10deg); 
}

#spawn1 {
   position: absolute;
  width: 150px;
  height: 80px; 
  background-color: rgba(144, 238, 144, 0.4);
  top: 50%;
  left: 15%; 
  border-radius: 9px;
  transform: rotate(-80deg);
  z-index: 1; 
}

#spawn2 {
  position: absolute;
  width: 150px;
  height: 80px; 
  background-color: rgba(144, 238, 144, 0.4);
  top: 50%;
  right: 15%; 
  border-radius: 9px;
  transform: rotate(-100deg);
  z-index: 1; 
}

#mainRoad {
  position: absolute;
  width: 25%;   /* Full width of the container */
  height: 135px;  
  background-color: #333; 
  /* top: 65%; */
  left: 37%;
  transform: rotate(90deg)
}

#redCar {
  position: absolute;
  width: 20px;
  height: 40px; 
  background-color: red;
  top: 30%;
  left: 49%; 
  border-radius: 9px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
}

#greenCar {
  position: absolute;
  width: 20px;
  height: 40px; 
  background-color: green;
  top: 83%;
  left: 49%; 
  border-radius: 9px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(90deg);
  z-index: 3;
}

#truck1 {
  position: absolute;
  width: 25px;
  height: 100px; 
  background-color: #993333;
  top: 60%;
  left: 45%; 
  border-radius: 9px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-20deg);
  z-index: 3;
}

#truck2 {
  position: absolute;
  width: 25px;
  height: 120px; 
  background-color: #993333;
  top: 45%;
  right: 45%; 
  border-radius: 9px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-20deg);
  z-index: 3;
}

#soldierCat {
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('https://i.imgflip.com/89toss.png');
  background-size: cover; 
  z-index: 10; 
}

h1, h6, p {
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

#mascot {
 transform: rotate(180deg);
}
